#* A compléter avec vos informations de connexion
# Hôte de la base de données
DB_HOST=
# utilisateur de la base de données
DB_USER=
# mot de passe pour accéder à la base de données
DB_PASSWORD=
# nom de la base de données
DB_NAME=ludoscope